<agent_config os="Linux">

  <syscheck>
    <frequency>{{ syscheck_client_time }}</frequency>
    <alert_new_files>yes</alert_new_files>
    
    <!-- monitor these directories and report changes -->
    <directories report_changes="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/usr/bin,/usr/sbin,/bin,/sbin,/boot</directories>

    <!-- monitor these directories in real time and report changes -->
    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/root</directories>

    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc/hosts,/etc/passwd,/etc/shadow,/etc/group,/etc/resolv.conf,/etc/bash.bashrc</directories>

    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc/crontab,/etc/sudoers,/etc/sysctl.conf,/etc/shells</directories>

    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc/ssh,/etc/init.d,/etc/init,/etc/rsyslog.conf,/etc/rsyslog.d</directories>

    <!-- Files/directories to ignore -->
    <ignore>/etc/mtab</ignore>
    <ignore>/etc/hosts.deny</ignore>
    <ignore>/etc/adjtime</ignore>
  </syscheck>

  <rootcheck>
    <frequency>{{ rootcheck_client_time }}</frequency>
    <rootkit_files>/var/ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/var/ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>
  </rootcheck>

  <active-response>
    <disabled>yes</disabled>
  </active-response>

</agent_config>

<!-- settings for RHEL servers -->
<agent_config profile="RedHat">
  <syscheck>
    <!-- monitor these directories in real time and report changes -->
    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc/yum.conf,/etc/yum.repos.d</directories>

    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc/sysconfig</directories>
  </syscheck>
</agent_config>
