#!/bin/bash
# init file for ossec-authd
#
# chkconfig: 2345 99 01
# description: provides automated agent enrollment for OSSEC
# processname: ossec-authd
# config: /var/ossec/etc/ossec.conf
# pidfile: /var/run/ossec-authd.pid
### BEGIN INIT INFO
# Provides:          ossec-authd
# Required-Start:    $network $local_fs $remote_fs
# Required-Stop:     $network $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Authentication Daemon for OSSEC-HIDS
# Description:       provides automated agent enrollment for OSSEC
### END INIT INFO

# source function library
. /etc/init.d/functions

OPTIONS="-i -p {{ ossec_authd_port }} -v {{ OSSEC_SSL_HOME }}/RootCA.crt -x {{ OSSEC_SSL_HOME }}/ossec-server.crt -k {{ OSSEC_SSL_HOME }}/ossec-server.key &>/dev/null &"

RETVAL=0
prog="ossec-authd"
binary=/var/ossec/bin/ossec-authd
pidfile=/var/run/ossec-authd.pid
lockfile="/var/lock/subsys/$prog"

start() {
  [ -x $binary ] || exit 5
  echo -n $"Starting $prog: "
  if [ $UID -ne 0 ]; then
    RETVAL=1
    failure
  else
    daemon --pidfile=$pidfile nohup $binary $OPTIONS
    RETVAL=$?
    [ $RETVAL -eq 0 ] && touch "/var/lock/subsys/$prog" && pid=$(pidofproc $prog) && cat "/var/ossec/var/run/ossec-authd-$pid.pid" > $pidfile
  fi;
  echo 
  return $RETVAL
}

stop() {
  echo -n $"Stopping $prog: "
  if [ $UID -ne 0 ]; then
          RETVAL=1
          failure
  else
    killproc -p $pidfile $binary
    RETVAL=$?
    [ $RETVAL -eq 0 ] && rm -f $lockfile
  fi;
  echo
  return $RETVAL
}

restart(){
  stop
  start
}

case "$1" in
  start)
  start
  RETVAL=$?
  ;;
  stop)
  stop
  RETVAL=$?
  ;;
  restart)
  restart
  RETVAL=$?
        ;;
  status)
        status $prog
  RETVAL=$?
        ;;
  *)
  echo $"Usage: $0 {start|stop|status|restart}"
  RETVAL=2
esac

exit $RETVAL
