<!-- OSSEC server config -->

<ossec_config>
  <global>
	 <email_notification>no</email_notification>
  </global>

  <remote>
	 <connection>secure</connection>
	 <port>{{ ossec_server_port }}</port>
  </remote>

  <syslog_output>
	 <server>{{ ossec_syslog_dest_address }}</server>
	 <port>{{ ossec_syslog_dest_port }}</port>
	 <level>1</level>
	 <format>cef</format>
  </syslog_output>

  <rules>
    <include>rules_config.xml</include>
    <include>local_rules.xml</include>
  </rules>

  <syscheck>
  	<frequency>{{ syscheck_server_time }}</frequency>
  	<alert_new_files>yes</alert_new_files>
	
	  <!-- monitor these directories and report changes -->
    <directories report_changes="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/usr/bin,/usr/sbin,/bin,/sbin</directories>
    
    <directories report_changes="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/boot</directories>

    <!-- monitor these directories in real time and report changes -->
    <directories report_changes="yes" realtime="yes" check_sha1sum="yes" check_size="yes" check_owner="yes" check_group="yes" check_perm="yes">/etc,/root</directories>

  	<!-- Files/directories to ignore -->
  	<ignore>/etc/mtab</ignore>
  	<ignore>/etc/hosts.deny</ignore>
  	<ignore>/etc/adjtime</ignore>
  </syscheck>

  <rootcheck>
    <frequency>43200</frequency>
    <rootkit_files>/var/ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/var/ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>
  </rootcheck>

  <active-response>
    <disabled>yes</disabled>
  </active-response>

  <alerts>
  	<log_alert_level>1</log_alert_level>
  </alerts>

</ossec_config>
