# Linux Security Monitoring rsyslog policy
# redirect logs to a file for consumption by splunk
# 
# {{ ansible_managed }}

$PreserveFQDN on

$umask 0000
$DirCreateMode 0750
$DirOwner splunk
$DirGroup root

$FileCreateMode 0640
$FileOwner root
$FileGroup splunk

# store spool files here 
$WorkDirectory /var/lib/rsyslog

# unique name prefix for spool files
$ActionQueueFileName spool

# 2gb space limit (use as much as possible)
$ActionQueueMaxDiskSpace 2g

# save messages to disk on shutdown
$ActionQueueSaveOnShutdown on 	

# run asynchronously
$ActionQueueType LinkedList

# infinite retries if destination is down
$ActionResumeRetryCount -1

# load file input module
$ModLoad imfile

# use custom template to only capture the raw message
$template RawLogFormat,"%rawmsg%\n"


#################################################
### baseline logs collection
#################################################

# send ansible logs to a file
if $programname contains 'ansible' then {{ splunk_ansible_log }}
& stop

# send system logs to a file
daemon.*,cron.*,user.*,syslog.* {{ splunk_system_log }}

# send auth logs to a file
auth.*,authpriv.* {{ splunk_auth_log }}

# send audit logs to a file
if $programname == 'audispd' then {{ splunk_audit_log }}
& stop

# send iptables logs to a file
if $programname == 'kernel' and $msg contains '{{ iptables_log_prefix }}' then {{ splunk_iptables_log }}
& stop

# send psad logs to a file
if $programname == 'psad' then {{ splunk_psad_log}}
& stop


#################################################
### custom logs collection
#################################################

{% if custom_logs is defined %} 
{% for item in custom_logs %}
{% if item.type == 'file' %}
# collect {{ item.name }} logs
$InputFileName {{ item.path }}
$InputFileStateFile {{ item.name }}.state
$InputFileTag {{ item.tag }}
$InputRunFileMonitor
if $programname == '{{ item.tag }}' then {{ splunk_logs_home }}/{{ item.name}}.log;RawLogFormat
& stop

{% endif %}
{% endfor %}
{% endif %}


#################################################
### reset
#################################################

# reset file ownership/permissions
$DirOwner root
$FileGroup root
$FileCreateMode 0600
