# outputs.conf
# {{ ansible_managed }}

[tcpout]
defaultGroup = SplunkIndexers

[tcpout:SplunkIndexers]
# heartbeats between forwarder and indexer, default is 30 seconds
heartbeatFrequency = {{ splunk_heartbeat_frequency|default(30) }}

# increase the maximum output queue size
# default setting is auto
# default size is 500KB when useAck is disabled and 21MB when enabled
maxQueueSize = {{ splunk_maximum_queue_size|default("auto") }}

# forwarder will confirm w/ indexer that it has received the event, provides reliable delivery
useACK = true

# indexer server and port
server = {{ splunk_indexers | join(",") }}

# disable SSL compression
useClientSSLCompression = false

# path to client SSL certificate (cert+privkey+caCert combined)
sslCertPath = $SPLUNK_HOME/etc/auth/ssl/splunk-forwarder.pem

# path to Root CA cert
sslRootCAPath = $SPLUNK_HOME/etc/auth/ssl/RootCA.crt

# specify which elliptic curve to use
ecdhCurveName = {{ splunk_indexer_ecurve }}

# specify which TLS cipher suites to use
sslCipher = {{ splunk_indexer_cipher_suites }}

# provides enhanced security beyond just checking if CA signed the server's cert
sslVerifyServerCert = true
sslCommonNameToCheck = {{ splunk_indexer_cn }}
