#!/bin/bash	
# firewall rules
# {{ ansible_managed }}

##########################
#  VARIABLE DECLARATION  #
##########################

# place variables here


##########################
#     DEFAULT POLICY     #
##########################

# flush all rules and remove custom chains
iptables -F -v
iptables -X -v

# allow all on loopback
iptables -A INPUT -i lo -m comment --comment "allow all on loopback" -j ACCEPT
iptables -A OUTPUT -o lo -m comment --comment "allow all on loopback" -j ACCEPT

# allow established return traffic
iptables -A INPUT -m conntrack --ctstate ESTABLISHED -m comment --comment "allow established return traffic" -j ACCEPT
iptables -A OUTPUT -m conntrack --ctstate ESTABLISHED -m comment --comment "allow established return traffic" -j ACCEPT

# set default policy to drop
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP

##########################
#     INBOUND RULES      #
##########################

# allow icmp echo-request
iptables -A INPUT -p icmp --icmp-type echo-request -m comment --comment "allow echo-request" -j ACCEPT

# allow icmp echo-reply
iptables -A INPUT -p icmp --icmp-type echo-reply -m comment --comment "allow echo-reply" -j ACCEPT

# allow icmp destination-unreachable
iptables -A INPUT -p icmp --icmp-type destination-unreachable -m comment --comment "allow destination-unreachable" -j ACCEPT

# allow icmp time-exceeded
iptables -A INPUT -p icmp --icmp-type destination-unreachable -m comment --comment "allow time-exceeded" -j ACCEPT

# allow ssh
iptables -A INPUT -p tcp --dport 22 -m conntrack --ctstate NEW -m comment --comment "allow inbound ssh" -j ACCEPT

{% if iptables_inbound_rules is defined %} 
{% for item in iptables_inbound_rules %}
# {{ item.comment }}
{{ item.rule | regex_replace('{{ comment_regex_keyword }}', item.comment )}}

{% endfor %}
{% endif %}

##########################
#     OUTBOUND RULES     #
##########################

# allow icmp echo-request
iptables -A OUTPUT -p icmp --icmp-type echo-request -m comment --comment "allow echo-request" -j ACCEPT

# allow icmp echo-reply
iptables -A OUTPUT -p icmp --icmp-type echo-reply -m comment --comment "allow echo-reply" -j ACCEPT

# allow icmp destination-unreachable
iptables -A OUTPUT -p icmp --icmp-type destination-unreachable -m comment --comment "allow destination-unreachable" -j ACCEPT

# allow icmp time-exceeded
iptables -A OUTPUT -p icmp --icmp-type destination-unreachable -m comment --comment "allow time-exceeded" -j ACCEPT

# allow DNS queries
iptables -A OUTPUT -p udp --dport 53 -m comment --comment "allow DNS queries" -j ACCEPT

# allow NTP
iptables -A OUTPUT -p udp --dport 123 -m comment --comment "allow NTP" -j ACCEPT

# allow http/https for OS updates
iptables -A OUTPUT -p tcp -m multiport --dports 80,443 -m conntrack --ctstate NEW -m comment --comment "allow http/https for OS updates" -j ACCEPT

# allow Splunk traffic
iptables -A OUTPUT -p tcp --dport {{ splunk_indexer_port }} -m conntrack --ctstate NEW -m comment --comment "allow Splunk traffic" -j ACCEPT

{% if enable_monit_notifications %} 
# allow outbound emails by monit
iptables -A OUTPUT -p tcp --dport {{ monit_smtp_port }} -m comment --comment "allow monit email notifications" -j ACCEPT
#{% endif %}

{% if iptables_outbound_rules is defined %}
{% for item in iptables_outbound_rules %}
# {{ item.comment }}
{{ item.rule | regex_replace('{{ comment_regex_keyword }}', item.comment )}}

{% endfor %}
{% endif %}

##########################
#     LOGGING RULES      #
##########################

# log dropped inbound/outbound packets
iptables -A INPUT -m comment --comment "log dropped traffic" -j LOG --log-prefix "INBOUND {{ iptables_log_prefix }} " --log-level notice --log-tcp-options
iptables -A OUTPUT -m comment --comment "log dropped traffic" -j LOG --log-prefix "OUTBOUND {{ iptables_log_prefix }} " --log-level notice --log-tcp-options

##########################
#      SAVE RULES        #
##########################

/sbin/service iptables save
