# auditctl settings
# based on STIG and NIST recommendations
# made for 64-bit systems
#
# {{ ansible_managed }}

# first rule - delete all rules
-D

# increase the buffers to survive stress events.
-b 8192

# set failure mode to print message, not cause kernel panic
-f 1

# don't rate limit messages generated per second
-r 0

# don't record CWD message type
-a exclude,always -F msgtype=CWD

# record attempts to modify auditd config files
-w /etc/audit/ -p wa -k audit-config-files
-w /etc/sysconfig/auditd  -p wa -k audit-config-files
-w /etc/libaudit.conf -p wa -k audit-config-files
-w /etc/audisp/ -p wa -k audit-config-files

# record attempts to modify the audit file by unprivileged users
-w /var/log/audit/ -p rwa -F auid>=500 -F auid!=4294967295 -k audit-log

# record attempts to modify date and time information
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-changed
-a always,exit -F arch=b64 -S clock_settime -k time-changed
-w /etc/localtime -p wa -k time-changed
-a always,exit -F arch=b64 -S clock_adjtime -k time-changed

# record attempts to modify local user/group information
-w /etc/group -p wa -k identity-changed
-w /etc/passwd -p wa -k identity-changed
-w /etc/gshadow -p wa -k identity-changed
-w /etc/shadow -p wa -k identity-changed
-w /etc/security/opasswd -p wa -k identity-changed

# record attempts to modify system environment/locale
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale-changed
-w /etc/hosts -p wa -k system-locale-changed
-w /etc/sysconfig/network -p wa -k system-locale-changed

# record attempts to modify any SELinux files/policies
-w /etc/selinux/ -p wa -k SELinux-settings-changed

# record successful and failed file owner/permission modifications
-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=500 -F auid!=4294967295 -k permission-modification
-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=500 -F auid!=4294967295 -k permission-modification
-a always,exit -F arch=b64 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=500 -F auid!=4294967295 -k permission-modification

# record failed unauthorized file access attempts
-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k unauthorized-file-access
-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k unauthorized-file-access

# record usage of setuid and special binaries
# discovered using this command: find / -type f -perm -04000 2>/dev/null
-a always,exit -F path=/bin/mount -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/bin/umount -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/bin/su -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/crontab -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/passwd -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/chage -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/chsh -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/gpasswd -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/newgrp -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/sbin/usernetctl -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/sudoedit -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command
-a always,exit -F path=/usr/bin/at -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged-command

# record file delection events by unprivileged users outside their home directories
-a never,exit -F dir=/home -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k user-delete
-a always,exit -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k user-delete

# record events that involve file deletion by the root user limited to sensitive directories
-a always,exit -F dir=/boot -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/bin -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/usr/bin -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/etc -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/sbin -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/lib -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete
-a always,exit -F dir=/lib64 -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F euid=0 -k root-delete

# record events that involve Kernel module Loading and unloading
-w /sbin/insmod -p x -k kernel-modules
-w /sbin/rmmod -p x -k kernel-modules
-w /sbin/modprobe -p x -k kernel-modules
-a always,exit -F arch=b64 -S init_module -S delete_module -k kernel-modules

# record any modifications to sudoers files
-w /etc/sudoers -p wa -k sudoers-modification
-w /etc/sudoers.d/ -p wa -k sudoers-modification

# record all commands executed by root
#-a exit,always -F arch=b64 -F euid=0 -S execve -k root-commands


{% if auditd_use_custom_rules %}
### custom rules defined below
{% for item in auditd_custom_rules %}
# {{ item.comment }}
{{ item.rule }}

{% endfor %}
{% endif %}


# make the auditd configuration immutable - a reboot will be required to change audit rules
# -e 2
